.useLocation {
  border-radius: 15px 0 0 15px;
  padding: 14px;
  color: white;
  border: none;
  background-color: black;
  font-weight: bold;
}

.Weather .search-type {
  border-left: 1px solid black;
  border-right: none;
}

.Weather input {
  border: 1px solid black;
  padding: 19px;
  border-right: none;
  border-left: none;
  outline: none;
}

.Weather select {
  border: 1px solid black;
  border-right: none;
  border-left: none;
  padding: 18px 0;
  outline: none;
}

.Weather button  {
  padding: 20px;
  color: white;
  border: none;
  background-color: black;
  font-weight: bold;
  border-radius: 0 15px 15px 0;
}

.Weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}