.Weather input {
  border: 1px solid black;
  padding: 14px;
  border-right: none;
  outline: none;
}

.Weather select {
  border: 1px solid black;
  border-right: none;
  border-left: none;
  padding: 13px 0;
  outline: none;
}

.Weather button {
  padding: 15px;
  color: white;
  border: none;
  background-color: black;
  font-weight: bold;
  border-radius: 0 15px 15px 0;
}

.Weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}